In [53]:
import requests
import pandas as pd
import datetime
import numpy as np

from pathlib import Path
from tqdm import tqdm

# Fugol Taiwan stock collect

In [3]:
this_year = datetime.datetime.now()
years = range(this_year.year, 2009, -1)  # Fugle提供的資料從2010年
begin = [int(str(y) + '0101') for y in years]
end = [int(str(y) + '1231') for y in years]
calendar = pd.DataFrame({'begin': begin,
                         'end': end})
calendar['begin'] = pd.to_datetime(calendar['begin'], format='%Y%m%d')
calendar['end'] = pd.to_datetime(calendar['end'], format='%Y%m%d')
calendar[['begin', 'end']] = calendar[['begin', 'end']].astype('str')

calendar

         begin         end
0   2023-01-01  2023-12-31
1   2022-01-01  2022-12-31
2   2021-01-01  2021-12-31
3   2020-01-01  2020-12-31
4   2019-01-01  2019-12-31
5   2018-01-01  2018-12-31
6   2017-01-01  2017-12-31
7   2016-01-01  2016-12-31
8   2015-01-01  2015-12-31
9   2014-01-01  2014-12-31
10  2013-01-01  2013-12-31
11  2012-01-01  2012-12-31
12  2011-01-01  2011-12-31
13  2010-01-01  2010-12-31

In [24]:
symbol = '2300'

result = []
for j in range(len(calendar)):
    cur_begin = calendar.loc[j, 'begin']
    cur_end = calendar.loc[j, 'end']

    data_link = f'https://api.fugle.tw/marketdata/v0.3/candles?symbolId=2884&apiToken=demo&from={cur_begin}&to={cur_end}&fields=open,high,low,close,volume,turnover,change'
    resp = requests.get(url=data_link)
    data = resp.json()

    candles = data['data']
    result += candles

result = pd.DataFrame.from_dict(result)
result['symbol'] = symbol

# symbol_result.columns
result

            date   open   high    low  close    volume symbol
0     2023-02-03  24.70  24.75  24.60  24.70  13623663   2300
1     2023-02-02  24.65  24.75  24.55  24.65  21097257   2300
2     2023-02-01  24.60  24.70  24.55  24.65  22918245   2300
3     2023-01-31  24.80  24.80  24.50  24.50  39254899   2300
4     2023-01-30  24.60  24.90  24.35  24.90  64738146   2300
...          ...    ...    ...    ...    ...       ...    ...
3210  2010-01-08  13.80  13.95  13.60  13.85  10594147   2300
3211  2010-01-07  13.60  14.00  13.55  13.65  18427984   2300
3212  2010-01-06  13.30  13.60  13.30  13.50  11441915   2300
3213  2010-01-05  13.40  13.60  13.30  13.30   9596743   2300
3214  2010-01-04  13.40  13.40  13.20  13.35   6920084   2300

[3215 rows x 7 columns]

# Yfinance stock collect

In [30]:
import yfinance as yf

In [ ]:
result = {}
symbols = ['AAPL', 'META']

for i, symbol in enumerate(symbols):
    stock = yf.Ticker(symbol)
    symbol_result = stock.history(period='max')

    result[symbol] = symbol_result
    symbol_result = np.vstack(symbol_result)

result[symbols[0]]

In [33]:
sp_assets = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
assets = sp_assets['Symbol'].str.replace('.', '-').tolist()
assets = sorted(assets)

assets

/var/folders/pv/bc3hx_855jb961qj91gq4jrc0000gn/T/ipykernel_55443/1981308832.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  assets = sp_assets['Symbol'].str.replace('.', '-').tolist()

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BF-B',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BMY',
 'BR',
 'BRK-B',
 'BRO',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'ELV',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FSLR',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GEHC',
 'GEN',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GNRC',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HCA',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'L',
 'LDOS',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NOC',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PARA',
 'PAYC',
 'PAYX',
 'PCAR',
 'PCG',
 'PEAK',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'POOL',
 'PPG',
 'PPL',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCHW',
 'SEDG',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STLD',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TECH',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TXN',
 'TXT',
 'TYL',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VFC',
 'VICI',
 'VLO',
 'VMC',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WY',
 'WYNN',
 'XEL',
 'XOM',
 'XRAY',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

# S&P 500 download

In [77]:
save_path = Path('dataset') / 'GSPC'

save_path.is_dir()

PosixPath('dataset/GSPC')

In [56]:
latest_symbol = sorted(save_path.glob('*.csv'))[-1].stem
latest_index = assets.index(latest_symbol)
for symbol in tqdm(assets[latest_index + 1:]):
    stock = yf.Ticker(symbol)
    symbol_result = stock.history(period='max')

    symbol_result['symbol'] = symbol
    symbol_result.to_csv(save_path / f'{symbol}.csv')

100%|██████████| 399/399 [06:58<00:00,  1.05s/it]

# 0050 download

In [75]:
url = 'https://zh.m.wikipedia.org/wiki/%E8%87%BA%E7%81%A350%E6%8C%87%E6%95%B8'

sp_assets = pd.read_html(
    url,
    encoding='UTF-8'
)[0]
assets = sp_assets['股票代號'].str.replace('臺證所：', '').tolist()
assets += sp_assets['股票代號.1'].str.replace('臺證所：', '').tolist()
assets = sorted(assets)

assets

['1101',
 '1216',
 '1301',
 '1303',
 '1326',
 '1402',
 '1590',
 '2002',
 '2207',
 '2303',
 '2308',
 '2317',
 '2327',
 '2330',
 '2357',
 '2379',
 '2382',
 '2395',
 '2408',
 '2412',
 '2454',
 '2603',
 '2609',
 '2615',
 '2801',
 '2880',
 '2881',
 '2882',
 '2883',
 '2884',
 '2885',
 '2886',
 '2887',
 '2890',
 '2891',
 '2892',
 '2912',
 '3008',
 '3034',
 '3037',
 '3045',
 '3711',
 '4904',
 '5871',
 '5876',
 '5880',
 '6415',
 '6505',
 '8046',
 '9910']

In [81]:
save_path = Path('dataset') / 'TWII'

save_path.is_dir()

True

In [87]:
downloaded = sorted(save_path.glob('*.csv'))

latest_symbol = downloaded[-1].stem if len(downloaded) > 0 else ''
latest_index = assets.index(latest_symbol) if latest_symbol else -1

for symbol in tqdm(assets[latest_index + 1:]):
    stock = yf.Ticker(f'{symbol}.TW')
    symbol_result = stock.history(period='max')

    symbol_result['symbol'] = symbol
    symbol_result.to_csv(save_path / f'{symbol}.csv')

 58%|█████▊    | 28/48 [01:09<01:31,  4.59s/it]

Failed to get ticker '2884.TW' reason: HTTPSConnectionPool(host='query2.finance.yahoo.com', port=443): Read timed out. (read timeout=10)
- 2884.TW: No timezone found, symbol may be delisted

100%|██████████| 48/48 [01:56<00:00,  2.43s/it]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol
Date,,,,,,,,
2002-01-29 00:00:00+08:00,2.257785,2.326725,2.257785,2.309488,61390238,0.0,0.0,2884
2002-01-30 00:00:00+08:00,2.292253,2.309488,2.283635,2.300871,13323187,0.0,0.0,2884
2002-01-31 00:00:00+08:00,2.300871,2.300871,2.300871,2.300871,0,0.0,0.0,2884
2002-02-01 00:00:00+08:00,2.352577,2.361193,2.326725,2.343959,17122516,0.0,0.0,2884
2002-02-04 00:00:00+08:00,2.404282,2.404282,2.352577,2.369811,15031274,0.0,0.0,2884
...,...,...,...,...,...,...,...,...
2023-01-30 00:00:00+08:00,24.600000,24.900000,24.350000,24.900000,60152436,0.0,0.0,2884
2023-01-31 00:00:00+08:00,24.799999,24.799999,24.500000,24.500000,38313147,0.0,0.0,2884
2023-02-01 00:00:00+08:00,24.600000,24.700001,24.549999,24.650000,21859783,0.0,0.0,2884
2023-02-02 00:00:00+08:00,24.650000,24.750000,24.549999,24.650000,20083836,0.0,0.0,2884
2023-02-03 00:00:00+08:00,24.700001,24.750000,24.600000,24.700001,13461945,0.0,0.0,2884